* {
    box-sizing: border-box;
}

:root {
  --heart-color: #770d81;
  --bg-color: #aa8ec4;
  --secondary-color: #e3e3e3;
}

@font-face {
    font-family: GreatVibes;
    src: url(/fonts/Great_Vibes/GreatVibes-Regular.ttf) format("truetype");
}

@font-face {
    font-family: PlayfairDisplay;
    src: url(/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf) format("truetype");
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100dvh;
    max-width: 1400px;
    background-color: var(--bg-color);
    margin: 0 auto;
}

h1{
    font-family: GreatVibes;
    text-align: center;
    font-size: 42px;
}

.separator{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    font-size: 40px;
    margin: 20px 0;
    color: var(--heart-color);
}

/* Greeting */

.greeting-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100dvh;
    margin: 0;
    padding: 0;
}

.greeting-text-container{
    padding: 15px 20px;
    background-color: #9b949428;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 3px dotted var(--heart-color);
}

.arrow-container {
    bottom: 30px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrow-container p {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 14px;
    background-color: #9b949428;
    backdrop-filter: blur(5px);
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid var(--heart-color);
}

.arrow-container svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    fill: var(--heart-color);
}
/* End Greeting */

/* Heart */

.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: var(--heart-color);
    transform: rotate(45deg);
    animation: latido 1.5s ease-in-out infinite;
}

.heart::before, .heart::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--heart-color);
}

.heart::before{
    top: -50%;
    left: 0;
}

.heart::after{
    top: 0;
    left: -50%;   
}

@keyframes latido {
    0%, 100% { transform: rotate(45deg) scale(1); }
    50% { transform: rotate(45deg) scale(1.1); }
}

/* End Heart */


.love-button{
    margin-top: 10px;
    padding: 15px 20px;
    font-size: medium;
    font-family: PlayfairDisplay;
    color: var(--secondary-color);
    background-color: var(--heart-color);
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

/* How Much i Love U */

.how-much-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 80px 0;

    & h2{
            font-size: 48px;
            padding: 10px 20px;
            text-wrap: balance;
        }

    & p{
        font-weight: semi-bold;
        font-size: large;
        font-family: PlayfairDisplay;
    }


    & .love-container{
        z-index: 100;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        justify-content: center;
        align-items: center;
        background-color: #00000090;
    }
    & .love-container.active{
        display: flex;
    }

    .love-cards-container{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        padding: 40px;
        background-color: var(--secondary-color);
        border-radius: 15px;
    }

    .love-card{
        display: none;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .love-card.active{
        display: flex;
    }

    .img-container{
        margin: 20px;
        width: 220px;
        height: auto;
        border-radius: 5px;

        & img{
            width: 100%;
            height: auto;
            border-radius: 5px;
        }
    }

    .love-cards-navigation{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        margin: 20px auto;
        
        .love-button-navigation.number{
            background-color: var(--heart-color);
            border: none;
            border-radius: 50%;
            padding: 6px;
            cursor: pointer;
        }

        .love-button-navigation.action{
            background-color: var(--heart-color);
            color: var(--secondary-color);
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            cursor: pointer;
            font-size: 10px;
        }

    }

    .close-love-cards {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 30px;
        & svg{
            height: 100%;
            width: auto;
            cursor: pointer;
            fill: var(--heart-color);
        }
    }

    p {
        margin: 40px 0;
    }

    
}

/* End Heart */


.music-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    & .music-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 80px 0;
        font-size: 22px;
        padding: 10px 20px;


        & .music-title{
            padding: 10px 20px;
            display: flex;
            align-items: center;
            gap: 20px;
            font-size: 32px;
            text-wrap: balance;

            & svg{
                width: 40px;
                height: 40px;
                fill: var(--heart-color);
            }
        }
    }

    & .singer-container{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0 40px;
        margin: 40px 0;
    }

    & .singer-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    & .singer-img{
        width: 150px;
        height: auto;
        border-radius: 10px;
    }

    & .song-name, & .singer-name{
        margin: 0;
        text-align: center;
    }

    & .song-name{
        color: var(--heart-color);
        font-size: 28px;
        font-weight: bold;
    }

    & .singer-name{
        color: #282424;
        font-size: 12px;
        font-weight: semi-bold;
    }

    & #waveform{
        margin: 80px auto;
        width: 80%;
    }

    & audio{
        margin-top: 40px;
    }

}

.love-message-generator{
    margin: 80px 0;

    & li{
        list-style: none;
    }

    ol{
        padding: 0;
    }

    & h2{
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        text-wrap: balance;
    }

    & .magic-icon-container{
        display: flex;
        width: 100%;
        height: 300px;
        justify-content: center;
        align-items: center;
    }

    & .magic-icon{
        width: 200px;
        height: 200px;
        fill: var(--heart-color);
    }

    & .instructions-container{
        width: 80%;
        height: auto;
        margin: 40px auto;
    }

    & .instructions-header{
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 32px;
        text-decoration: underline;

        & svg{
            width: 30px;
            height: 30px;
            fill: var(--heart-color);
        }
    }


    & .step-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        background-color: var(--secondary-color);
        border-radius: 10px;
        gap: 15px;
        padding: 10px;
        margin: 40px auto;
        
        & svg{
            fill: var(--heart-color);
            width: 60px;
            height: 60px;
        }
    }
}

.love-message-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px auto;
    width: 80%;
    max-width: 500px;
    height: auto;
    padding: 20px;
    border: 1px solid var(--heart-color);
    border-radius: 10px;

    & p{
        text-align: center;
        padding: 10px;
        border-bottom: 1px solid var(--heart-color);
        font-size: 22px;
    }


    & input[type="text"]{
        margin: 10px auto;
        width: 50%;
        padding: 20px;
        border-radius: 10px;
        background-color: transparent;
        outline: none;
        border: 1px solid var(--heart-color);
    }
    & input[type="submit"]{
        margin: 10px auto;
        width: 50%;
        padding: 20px;
        border-radius: 10px;
        background-color: var(--heart-color);
        color: var(--secondary-color);
        outline: none;
        border: none;
        cursor: pointer;
    }

    input::placeholder {
        color: var(--heart-color);
        opacity: 1; /* Firefox necesita esto */
    }

}

.underline{
    text-decoration: underline;
    font-weight: bold;
    color: var(--heart-color);
}


footer{
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--heart-color);
    color: var(--secondary-color);
}

@media screen and (min-width: 350px) {
    & .singer-container{
        gap: 40px !important;
        margin: 20px !important;

        & .singer-img{
            width: 80%;
            max-width: 500px;
            height: auto;
        }

        & .singer-name{
            font-size: 16px;
        }
        & .song-name{
            font-size: 38px;
            margin-bottom: 10px;
        }
    }
}

